* {
  font-family: sans-serif;
}

html {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #424242;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  font-size: 0.9rem;
}
header p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0;
  grid-column: 1 / 3;
}

main {
  margin: 20px;
}
main * {
  text-align: center;
}

#logo {
  justify-self: end;
  margin-left: 10px;
}

#from-to {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem;
}
#from-to span {
  margin: 0 10px;
}

.result:first-child {
  font-size: 2rem;
  margin-bottom: 20px;
}
.result:not(:first-child) {
  color: #424242;
}

#input-number {
  font-size: 2rem;
  font-weight: normal;
  color: grey;
  border: none;
  border: 1px solid transparent;
  border-radius: 10px;
  text-overflow: fade;
}
#input-number:focus {
  border: 1px solid lightgrey;
}
#input-number.error {
  text-decoration: underline red wavy;
}

#results ul {
  list-style-type: none;
  padding: 0;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}
footer a {
  transition: color 100ms;
  text-decoration: none;
  color: grey;
}
footer a:hover {
  color: lightgrey;
}

@media (min-width: 600px) {
  header {
    font-size: 1rem;
  }
  #description {
    grid-column: 1 / 3;
    justify-self: center;
    max-width: 500px;
  }
}
