* {
  font-family: sans-serif;
}

html {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  font-size: 0.9rem;
}

main {
  margin: 20px;
}

#logo {
  justify-self: end;
  margin-left: 10px;
}

#hyperapp {
  display: grid;
  grid-column-gap: 30px;
}
#description {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0;
}

#input h1 {
  font-weight: normal;
}
#input-number {
  height: 48px;
  display: block;
  width: 60%;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0 0 20px 0;
  color: black;
  text-decoration: underline darkturquoise;
  font-size: 2rem;
  text-overflow: fade;
  transition: transform 500ms cubic-bezier(.01,.99,0,.99)
}
#input-number:focus {
  transform: translateX(16px);
  text-decoration: underline dashed;
}
#input-number.error {
  text-decoration: underline red wavy
}
#input-base {
  width: calc(100% - 85px);  /* Strange fix for GTK issue */
  border: 0 solid transparent;
}
label[for="base"] {
  background-color: white;
  z-index: 5000;
  position: relative;
  padding-right: 3px;
}
#current-base {
  font-size: 1.8rem;
  margin-right: 10px;
}

section {
  padding: 20px;
}

#add-base {
  display: flex;
}
#add-base button {
  align-self: center;
  color: #424242;
  background-color: transparent;
  border: none;
  font-weight: normal;
  cursor: pointer;
}
#add-base input {
  width: 40%;
  height: 32px;
  border: none;
  border-radius: 15px;
  padding: 4px 7px;
  border: 1px solid lightgrey;
}
#add-base .hidden {
  display: none;
}
#results ul {
  list-style-type: none;
  padding: 0;
}
.result-box {
  display: flex;
  align-items: center;
  height: 64px;
  cursor: ns-resize;
  box-shadow: 0 3px 10px 0 #EAEAEA;
  margin: 15px 0;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.result-box:hover .result-box-delete-button {
  transform: translateX(0);
  box-shadow: 0px 0 122px 0px grey;
}
.result-box-base {
  width: 64px;
  align-self: center;
  text-align: center;
}
.result-box-number {
  align-self: 64px;
}
.result-box-delete-button {
  position: absolute;
  height: 64px;
  width: 64px;
  cursor: pointer;
  background-color: #F44336;
  background-image: url(assets/UI/remove.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 15px;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms, box-shadow 300ms;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}
footer a {
  text-decoration: none;
  color: grey;
}
footer a:hover {
  color: lightgrey;
}

@media (min-width: 600px) {
  #hyperapp {
    grid-template-columns: 1fr 1fr;
  }
  header {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  #input {
    justify-self: end;
  }
  #description {
    grid-column: 1 / 3;
    justify-self: center;
    max-width: 500px;
  }
  section {
    max-width: 350px;
  }
  #results {
    max-height: 400px;
    overflow-y: auto;
  }
}
