* {
  font-family: sans-serif;
}

html {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #424242;
  max-width: 786px;
}

header {
  font-size: 0.85rem;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  margin-right: 20px;
}
header p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0;
}

main {
  margin: 60px 0;
}
main * {
  text-align: center;
}

[contenteditable=true] {
  cursor: text;
}
[contenteditable=true]:empty::before {
  content: attr(placeholder);
  color:gray;
}
[contenteditable=true] br{
  display:none;
}
#input {
  font-size: 2rem;
}
#input span {
  outline: none;
  caret-color: #2196F3;
}
#input-number {
  font-weight: normal;
  color: grey;
  border-radius: 10px;
  text-overflow: fade;
}
#input-number:focus {
  color: #424242;
}
#input-number.error {
  text-decoration: underline red wavy;
}

#from-to {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 0px 2px 5px lightgrey;
  height: 48px;
  width: 90%;
  margin: 2rem auto;
}
#from-to span {
  margin: 0 10px;
}
#from-to span:first-child {
  margin-left: 0;
}
#from-to select {
  height: 36px;
}

.result:first-child {
  font-size: 2rem;
  margin-bottom: 10px;
}
.result:not(:first-child) {
  color: #424242;
}
#results ul {
  list-style-type: none;
  padding: 0;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}
footer a {
  transition: color 100ms;
  text-decoration: none;
  color: #212121;
}
footer a:hover {
  color: grey;
}

@media (min-width: 600px) {
  header {
    font-size: 1rem;
  }
  #from-to {
    width: 80%;
  }
}
